* {
  box-sizing: border-box;
}
.colorDropdown {
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
  display: inline-block;
}

.td {
  border: 1px solid #8bc249;
}

table {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.colorDiv {
  background-color: orange;
  width: auto;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.colorLabel{
  width: 25%;
  display: inline-block;

}

.colorSelection{
  width:75%;
  display: inline-block;
}

.emotionsCard {
  width: 60rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
h5 {
  font-size: 1.25rem;
  color: #8bc249;
}
thead {
  background-color: #8bc249;
  color: #098041;
  font-size: 1rem;
}
.th {
  padding: 10px;
  text-align: center;
}
.emotionName {
  text-transform: capitalize;
  color: #098041;
  padding-left: 10px;
}

@media only screen and (max-width: 1050px) {
  .emotionsCard {
    width: 50rem;
  }
  table {
    width: 40rem;
  }
}
@media only screen and (max-width: 993px) {
  .emotionsCard {
    width: 45rem;
    margin-right: auto;
    margin-left: auto;
  }
  table {
    width: 35rem;
  }
}
@media only screen and (max-width: 850px) {
  .emotionsCard {
    width: 35rem;
    margin-right: auto;
    margin-left: auto;
  }
  table {
    width: 25rem;
  }
}

@media only screen and (max-width: 660px) {
  .emotionsCard {
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
  }
  table {
    width: 20rem;
  }
}
@media only screen and (max-width: 440px) {
  .emotionsCard {
    width: 18rem;
    margin-right: auto;
    margin-left: auto;
  }
  table {
    width: 13rem;
  }
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
